
/backend/solr-9.1.1/server/logs
/backend/solr-9.1.1/server/logs
backend/solr-9.1.1/server/logs/solr-8983-console.log
backend/solr-9.1.1/server/logs/solr.log
backend/solr-9.1.1/server/logs/solr_gc.log
