.dropdown {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    border: none;
}

.dropdown:empty {
    border: none;
}

.dropdown-row {
    cursor: pointer;
    text-align: center;
    margin: 2px 0;
}